.banner{
    width: 100%;

}
.principal{
    background-color: gray;
    text-align: center;
}
.destaque{
    color: red;
}
.beneficios{
    text-align: center;
}
.lista{
    vertical-align: top;
    display: inline-block;
}